main {
    height: 580px;
    display: flex;
    align-items: center; /* centramos los contenidos dentro del main */
    justify-content: center;
    backdrop-filter: blur(2px);
}

.container-carousel {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: #e0e0e0;
    overflow: hidden;
}

.carruseles {
    width: 400%;/* aca le pongo 400% porque son 4 imagenes, */
    height: 100%;
    display: flex;

}

.slider-section {
    width: calc(400%/4);/* entre 4 porque son 4 imagenes */
    height: 100%;
}

.slider-section img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.btn-left,
.btn-right {
    display: flex;
    position: absolute;
    top: 45%;
    font-size: 8.5rem;
    background-color: transparent;
    border-radius: 50%;
    padding: 5px;
    font-weight: 600;
    cursor: pointer;
    color: #ffffff81;
    transform: translate(0, -50%);
    transition: .5s ease;
    user-select: none;
}

.btn-left:hover,
.btn-right:hover {
    background-color: #b0b2b6;
    color: #fff;
}

.btn-left {
    left: 2%;
}

.btn-right {
    right: 2%;
}

/*iconos y h1*/

.proyectos-1{
    font-size: 2rem;
    color: #fff;
    background-color: #9F0000;
    height: auto;
    padding: 8px 60px;
    border-radius: 2rem;
    margin-top: 200px;
    position: absolute;
}

.logo-1{
    width: 310px;
    height: auto;
    border-radius: 50%;
    position: absolute;
    margin-top: 620px;
}

@media (max-width:750px) {
    main {
        height: 450px;
        width: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        backdrop-filter: blur(2px);
        margin-top: 95px; /* 95 para que quede al raz del menú */
        padding: 1px;
    }
    .logo-1{
        width: 190px;
        height: auto;
        border-radius: 50%;
        position: absolute;
        margin-top: 480px;
    }
    .btn-left,
    .btn-right {
        display: flex;
        position: absolute;
        top: 45%;
        font-size: 4.8rem;
        background-color: transparent;
        border-radius: 50%;
        padding: 5px;
        font-weight: 600;
        cursor: pointer;
        color: #ffffff81;
        transform: translate(0, -50%);
        transition: .5s ease;
        user-select: none;
    }

}