/* Reset de estilos */
* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
}

/* Estilo del cuerpo */
body {
    background-color: #f7f7f7;
}

/* Estilo del header, imaginalo como un rectangulo */
.header {
    background-color: #FFC300;
    display: flex;
    justify-content: center;/* Centra el contenido horizontalmente dentro del rectangulo */
    align-items: center;/* Centra el contenido verticalmente dentro del rectangulo */
    padding: 1.8rem 3.8rem;/*el es contenido del rectangulo, no de los nav que están dentro*/
}

/*necesitaba darle el ancho completo para que los nav puedan moverse deacuerdo al tamaño*/
.nav-menu {
    width: 100%;/*me tenia cabexzóoon xd, sin esto, las configuraciones que vienen mas abajo no funcionan*/
}

/* Estilo del menú de navegación */
.nav-menu ul {
    display: flex;
    align-items: center;
    justify-content: space-around;/* se distribuye el espacio dentro del rectangulo(header) */
    text-align: center;/* Centramos el texto de los elementos del menú */
}

/* Estilo de los elementos de lista del menú */
.nav-menu li {
    margin-right: 1.5rem;
    font-size: 21px;
}

/* color del navegador del menú */
.nav-menu a {
    color: #0D363F;
}

/* color del navegador del menú al pasar el mouse */
.nav-menu a:hover {
    color: #6e0000;
}

.menu-icon img {
    width: 60px;
    height: auto;
}

.menu-icon, #check {
    display: none;
}

@media (max-width:750px) {

    /* Estilo del header, imaginalo como un rectangulo */
    .header {
        background-color: #FFC300;
        display: flex;
        justify-content: center;/* Centra el contenido horizontalmente dentro del rectangulo */
        align-items: center;/* Centra el contenido verticalmente dentro del rectangulo */
        padding: 3rem 3.8rem;/*el es contenido del rectangulo, no de los nav que están dentro*/
        position: fixed; /* Agregamos posición relativa para poder posicionar los elementos hijos */
        top: 0;
        width: 100%;
        z-index: 3; /* Aseguramos que el header esté encima de otros elementos */
    }

    .checkbtn {
        display: block;
    }

    /*posicionamos la imagen como queremos que se vea en dispositivos moviles*/
    .menu-icon {
        display: block;
        position: fixed;
        top: 18px;
        right: 26px;
        cursor: pointer;
        z-index: 3; /* Aseguramos que el ícono del menú esté encima de otros elementos */
    }

    .nav-menu ul {
        display: block;
        position: fixed; /* Cambiamos la posición a fija para que el menú permanezca estático */
        top: 104px; /* Ajusta según sea necesario para evitar que se superponga con el encabezado */
        left: -100%;
        background: #FFC300;
        width: 100%;
        height: 100vh;
        right: 0;
        z-index: 2; /* Aseguramos que el menú esté encima de otros elementos */
        
    }

    /* Estilo del menú de navegación */
    .nav-menu ul li {
        padding: 2.4rem;
        display: flex;
        justify-content: center;
        margin: 0;
        font-size: 1.6rem;
    }

    .nav-menu ul li:last-child {
        background: none;
        padding: 1rem;
    }

    #check:checked~ul {
        left: 0;
        transition: all .25s;
    }
}