*{
    margin:0;
    padding: 0;
}
html{
    background: #0d363f;
}
  #header-proyecto {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #logo {
    margin-top: 1vw;
    width: 10%;
  }
  #titulo-container {
    width: 100%;
    height: 8vw;
    background-color: #ffc300; /* Color de fondo correspondiente */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  h2 {
    color: white;
    font-family: Poppins, Lato, Sans serif, Arial;
    font-size: 3.5em;
    font-weight: 100;
  }
  
  #texto-info {
    margin: 2.5vw;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 2em;
    font-family: Poppins, Lato, Sans serif, Arial;
    color: white;
  }

  /*--------------------AREA DE CARRUSEL----------------- */
  main {
    width: 100%;
    display: flex;
    align-items: center; /* centramos los contenidos dentro del main */
    justify-content: center;
    backdrop-filter: blur(5px);
}

.container-carousel {
    position: relative;
    width:35vw;
    height: 40vw;
    overflow: hidden;
}

.carruseles {
    width: 600%;/* aca le pongo 400% porque son 4 imagenes, */
    display: flex;

}

.slider-section {
    width: calc(600%/6);/* entre 4 porque son 4 imagenes */
    height: 30%;
}

.slider-section img {
  width: 100%; /* Ajusta el ancho de la imagen al 100% del contenedor */
  height: auto; /* Esto mantendrá la proporción de aspecto de la imagen */
  max-width: 100%; /* Asegura que la imagen no exceda el ancho del contenedor */
  max-height: 100%; /* Asegura que la imagen no exceda el alto del contenedor */
    object-fit: cover;
}

.btn-left,
.btn-right {
    display: flex;
    position: absolute;
    top: 45%;
    font-size: 8.5rem;
    background-color: transparent;
    border-radius: 50%;
    padding: 5px;
    font-weight: 600;
    cursor: pointer;
    color: #ffffff81;
    transform: translate(0, -50%);
    transition: .5s ease;
    user-select: none;
}
.btn-left:hover,
.btn-right:hover {
    background-color: #b0b2b6;
    color: #fff;
}
.btn-left {
    left: 0vw;
}
.btn-right {
    right: 2%;
}
 /*--------------------AREA CONTACTO Y TEXTO----------------- */
 .info-contacto{
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-auto-flow: row; /* Los elementos se organizarán hacia abajo en columnas */
  grid-template-rows: auto; /* Las filas se ajustarán automáticamente al contenido */
  gap: 10px;
  background-color: #0d363f;
  width: 100%;
  height: 95%;
  margin-top: 5vw;
  margin-bottom: 2vw;
 }
  #texto-comunicacion{
    grid-column: 2/ span 4; 
    grid-row: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    font-family: Poppins, Lato, Sans serif, Arial;
    color: white;
    transition: all 0.3s ease 0s;
    cursor: pointer;
  }
  #texto-comunicacion:hover {
    transform: translateY(7px);
  }
  #comunicacion{
    grid-column: 5 / span 8; 
    grid-row: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: center;
    width: 100%;
  }
  #primer-contacto{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2vw;
  }
  #segundo-contacto{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2vw;
    margin-left: 8.5vw;
  }
  #whatsapp{
    width: 6vw;
    height: 6vw;
  }
  #gmail{
    width: 6vw;
    height: 6vw;
  }
  span{
    margin-left: 5vw;
    color: white;
    font-family: Poppins, Lato, Sans serif, Arial;
    font-size: 1.5em;
    font-weight:100;
    font-style: italic;
  }
  .logo{
    grid-row: 2;
    padding: 2vw;
    grid-column: 4/ span 6;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #img-logo{
    border-radius: 5vw;
    box-shadow: 2vw #373838;
    width: 10vw;
    height: 10vw;
  }
  /*--------------------AREA DE FOOTER----------------- */
footer{
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-auto-flow: row; /* Los elementos se organizarán hacia abajo en columnas */
  grid-template-rows: auto; /* Las filas se ajustarán automáticamente al contenido */
  gap: 10px;
  justify-content: space-between;
  margin-bottom: 1.5vw;
}
nav{
  grid-column: 3 / span 5;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-size: 1em;
  font-family: Poppins, Lato, Sans serif, Arial;
  text-decoration: none;
  color:white;
}
.link{
  transition: 0.5s;
  overflow: hidden;
  border-radius: 1vw 1vw 1vw 1vw;
  position: relative;
}
.link:hover {
  transform: translateY(-20px);
}
.link:hover {
  transform: translateY(-20px);
}
 .link::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 50px;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.5);
  transform: skewX(45deg) translateX(150px);
  transition: 0.5s ease;
}
.link:hover::before {
  transform: skewX(45deg) translateX(-150px);
}
a{
  text-decoration: none;
  color: white;
}
#menu-link {
  color:#425f66;
  line-height: 2;
  position: relative;
}
#menu-link::before {
  content: '';
  width: 0;
  height: 2px;
  border-radius: 2px;
  background-color:#ffc300;
  position: absolute;
  bottom: -.25rem;
  left: 50%;
  transition: width .4s, left .4s;
}
#menu-link:hover::before {
  width: 100%;
  left: 0;
}
#redes-sociales{
  grid-column: 8/ 11;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
#img-redes{
  width:3vw;
  height: 3vw;
}
 /*--------------------MEDIA QUERIES----------------- */
     /*---------PARA DISPOSITIVOS MOVILES-------- */
@media only screen and (max-width: 767px){
  #titulo-container {
    height: 15vw;
  }
  h2 {
    font-size: 3em;
    margin-top: 2vw;
  }
  #texto-info {
    margin: 4.5vw;
    font-size: 1.5em;
  }
  /*--------------------AREA DE CARRUSEL----------------- */
  .container-carousel {
    width:70vw;
    height: 80vw;
}
.carruseles {
    width: 600%;/* aca le pongo 400% porque son 4 imagenes, */
    display: flex;
}
/*--------------------AREA CONTACTO Y TEXTO----------------- */
.info-contacto{
  grid-template-columns: repeat(3, 1fr);
  margin: 2vw;
 }
  #texto-comunicacion{
    grid-column: 1/ span 6; 
    margin-left: 2vw;
    margin-top: 2vw;
  }
  #comunicacion{
    grid-column: 1 / span 3; 
    grid-row: 2;
    margin:3vw;
   }
  #primer-contacto{
    margin: 0vw;
    margin-right: 20vw;
  }
  #segundo-contacto{
    margin-left: -5.6vw;
  }
  .logo{
    padding: 0vw;
    grid-column: 1/ span 3;
    grid-row: 3;
    margin: -2vw;
  }
  #img-logo{
    margin-right: 5vw;
  }
  /*--------------------AREA FOOTER----------------- */
  footer{
    grid-template-columns: repeat(3, 1fr);
    gap: 5px;
  }
  nav{
   display: none;
  }
  #redes-sociales{
    grid-column: 1/ span 3;
    justify-content: center;
    margin-top: 8vw;
    margin-left: -5vw;
  }
  #img-redes{
    margin: 2vw;
  }
}
 /*--------------------MEDIA QUERIES----------------- */
            /*---------PARA TABLETS-------- */
@media only screen and (min-width: 768px) and (max-width: 1023px){

  #titulo-container {
    height: 10vw;
  }
  h2 {
    font-size: 3em;
  }
  #texto-info {
    margin: 4.5vw;
    font-size: 1.5em;
  }
  /*--------------------AREA DE CARRUSEL----------------- */
.container-carousel {
    width:50vw;
    height: 60vw;
}
.carruseles {
    width: 600%;/* aca le pongo 400% porque son 4 imagenes, */
    display: flex;

}
 /*--------------------AREA CONTACTO Y TEXTO----------------- */
 .info-contacto{
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 5px;
  width: 100%;
  margin-top: 3vw;
  margin-bottom: 2vw;
 }
  #texto-comunicacion{
    grid-column: 1/ span 6; 
    grid-row: 1;
    margin: 5vw;
  }
  #comunicacion{
    grid-column: 3 / span 4; 
    grid-row: 2;
  }
  #primer-contacto{
    margin: 5vw;
    margin-right: 23vw;
  }
  #segundo-contacto{
    margin-left: -3.5vw;
  }
  span{
    font-size: 1.3em;
  }
  .logo{
    padding: 0vw;
    grid-column: 1/ span 2;
  }
  #img-logo{
    width: 15vw;
    height: 15vw;
    border-radius: 20vw;
    margin-left: 8vw;
  }
 /*--------------------AREA DE FOOTER----------------- */
 footer{
  grid-template-columns: repeat(6, 1fr);
  gap: 5px;
  margin-bottom: 0vw;
}
nav{
  display: none;
}
#redes-sociales{
  grid-column: 2/ span 4;
  justify-content: center;
  grid-row: 20;

}
#img-redes{
  margin: 2vw;
}
}